body {
	background-color: #f0f0f0;
	text-align: center;
}

.container {
	display: flexbox;
	width: 80%;
	margin: 0 10% 0 10%;
}

.text_place {
	width: 50px;
}

.letter {
	display: none;
	font-size: 26px;
	line-height: 30px;
	font-weight: normal;
	padding: 10px;
	width: 30px;
	height: 30px;
}